<section *ngIf='user'>
    <section>
      <h3>SelectedUser: {{user.first_name}} {{user.last_name}}</h3>
      <p>
          <b>Email:</b> {{user.email}}<br>
          <b>PhoneNumber:</b> {{user.phone_number}}
      </p>
    </section>  
  <section>
      <form (ngSubmit)="updateUser()" #userForm="ngForm">
          <div class="form-group">
              <label>First Name:</label>
              <input type="text" name="first_name" required [(ngModel)] = "user.first_name" #first_name="ngModel"/>
              <div [hidden]="first_name.valid || first_name.pristine" class="error">First Name is required</div>
          </div>
          <div class="form-group">
              <label>Last Name:</label>
              <input type="text" name="last_name" required [(ngModel)] = "user.last_name" #last_name="ngModel"/>
              <div [hidden]="last_name.valid || last_name.pristine" class="error">Last Name is required</div>
          </div>
          <div class="form-group">
              <label>Email:</label>
              <input type="email" name='email' required [(ngModel)] = "user.email" #email="ngModel"/>
              <div [hidden]="email.valid" class="error">Invalid Email</div>
          </div>
          <div class="form-group">
              <label>PhoneNumber:</label>
              <input type="text" name='phone_number' [(ngModel)] = "user.phone_number"/>
          </div>
          <div class="form-group">
              <button class="btn btn-primary" [disabled]="!userForm.form.valid">Save</button>
          </div>
      </form>      
  </section>

  <button (click)="goToUsersList()" class="btn btn-primary">UsersList</button>
</section>


